
<table>
  <tr>
    <td>
      <table>
        <style>
          h1 {
            color: orange;
          }
          </style>
          
        <tr><h1>Catogary</h1></tr>
        <tr *ngFor="let a of Activity">
          <td><button (click)="b(a)">{{a.Catogary}}</button>
            
          </td>
        </tr>
      </table>
    </td>
    <td>
        <table *ngIf="selectedCatogary">
          <tr *ngFor="let d of selectedCatogary.food">
            <td><button (click)="a(d)">{{d.Title}}</button></td>
          </tr>

      </table>
    </td>
    <td>
      <table *ngIf="selectedFood">
<tr>
      <img [src]="selectedFood.Image" style="width:100px;height:100px"/>
</tr>
<tr><td>Title:</td><td>{{selectedFood.Title}}</td></tr>
<!--   ><tr><td>Image:</td><td>{{selectedFood.Image}}</td></tr>-->


      </table>
      
    </td>
  </tr>
</table>